node_modules
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
**/.env
/package-lock.json
jmeter/outputs/

# ignore sonar scanner
**/sonar-project.properties

**/coverage

# ignore jmeter outputs
jmeter/outputs/